<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.palatepoet.gpt.repository.InstructionRepository">

    <insert id="insert" parameterType="Instruction" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO instruction(recipe_id,step,description)
        VALUES (#{recipeId}, #{step}, #{description})
    </insert>

  <delete id="deleteAuthor">
    delete from Author where id = #{id}
  </delete>

<select id="getInstructionsByUserId" resultType="Instruction">
    SELECT
        instruction.step,
        instruction.description
    FROM
        recipe
        INNER JOIN instruction ON recipe.id = instruction.recipe_id
    WHERE
        recipe.user_id = #{userId}
</select>
    <sql id="macroBaseColumns">
        m.id,
        m.recipe_id,
        m.carbs,
        m.protein,
        m.fats,
    </sql>

</mapper>